<div class="container card-content mt-5">
   <div class="card-header header-danger">
      <h4 class="card-title">
         <img width="150" class="card-img-title" src="https://lh3.googleusercontent.com/-ApBj8d4WL1E/Wp0fJeAD6jI/AAAAAAAAD4M/Dh6l_UiA64kln8PS-1SaDQFuhb9KJL40gCL0BGAYYCw/h100/2018-03-05.png" alt="danger">
      </h4>
   </div>
   <div class="card-body">
      <h1 style="text-align: center;">Tu pago ha sido rechazado</h1>
      <h2><strong>Datos de la compra:</strong></h2>
      <img width="100" class="card-img-title" src="{{img}}" alt="producto">
      <h3>Producto: <strong>{{title}}</strong></h3>
      <h3>Precio: <strong>{{price}}</strong></h3>
      <h3>Número de productos: <strong>{{quantity}}</strong></h3>
      <form action="/" method="get">
         <button class="mercadopago-button card-img-title" type="submit">Regresar</button>
      </form>
   </div>
</div>
