<div class="container card-content mt-5">
   <div class="card-header header-warning">
      <h4 class="card-title">
         <img width="150" class="card-img-title" src="./assets/cartshop.png" alt="danger">
      </h4>
   </div>
   <div class="card-body">
      <h1 style="text-align: center;">¡Ya casi es tuyo!</h1>
      <h2><strong>Datos de la compra:</strong></h2>
      <img width="100" class="card-img-title" src="{{img}}" alt="producto">
      <h3>Producto: <strong>{{title}}</strong></h3>
      <h3>Número de productos: <strong>{{quantity}}</strong></h3>
      <h3>Tan solo debes pagar: <strong>{{price}}</strong></h3>
      <form action="/" method="get">
         <button class="mercadopago-button card-img-title" type="submit">Regresar</button>
      </form>
   </div>
</div>
